BOT_TOKEN = 'your bot token'
DEVELOPER_ID = 'owner id'
ADMIN_ID='your id'


DB_HOST='your host'
DB_PORT='your port'
DB_NAME='your database name'
DB_USER='database owner'
DB_PASSWORD='database password'